volumes:
    data:

services:
    postgres:
        image: postgres:latest
        environment:
            - POSTGRES_PASSWORD=
        ports:
            - 5432:5432
        volumes:
            - data:/var/lib/postgresql
    server:
        build:
            context: .
            dockerfile: Dockerfile.springServer
        depends_on:
            - postgres
        ports:
            - 8338:8080
    web:
        build:
            context: .
            dockerfile: Dockerfile.webFrontend
        depends_on:
            - server
        ports:
            - 8080:80